# Preview Data using pandas

In [1]:
import pandas as pd

### Why do we need to preview Data

1. Understand the Data set
2. Identify the problems
3. Plan next steps

### Head() and Tail()

In [2]:
df = pd.read_json("sample_Data.json")

#### 1. Head() : Displays the first n rows (If n not passed, then first 5 rows will be shown).

In [3]:
print("The first 10 Rows are: \n")
print(df.head(10))

The first 10 Rows are:

   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones
5   6                    Fitbit Versa 3 Smartwatch
6   7                       KitchenAid Stand Mixer
7   8           Dyson V11 Absolute Cordless Vacuum
8   9                   Ninja Foodi Smart XL Grill
9  10              Canon EOS Rebel T8i DSLR Camera

                                         description    price  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00
5  The Fitbit Versa 3 Smartwatch features a built...   229.95
6  The KitchenAid Stand Mixer features a 5-quart ...   399.99
7  The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8  The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9  The Canon EOS Rebel T8i DSLR Camera features a...   899.00

          category                                              image
0      Electronics  https://www.apple.com/newsroom/images/product/...
1      Electronics  https://images.samsung.com/is/image/samsung/p6...
2      Electronics  https://www.sony.com/image/44baa604124b770c824...
3      Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5      Electronics  https://www.fitbit.com/global/content/dam/fitb...
6   Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7  Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8   Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9      Electronics  https://www.canon.com.au/-/media/images/produc...

#### 2. Tail() : Displays the last n rows (If n not passed, then last 5 rows will be shown).

In [4]:
print("The Last 10 Rows are: \n")
print(df.tail(10))

The Last 10 Rows are:

    id                                               name  \
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description   price        category  \
10  The Apple AirPods Pro feature active noise can...  249.00     Electronics
11  The Bose QuietComfort 35 II Wireless Headphone...  299.00     Electronics
12  The Fitbit Charge 4 Fitness Tracker features G...  129.95     Electronics
13  The Samsung Galaxy Watch3 features a rotating ...  399.99     Electronics
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...  349.99     Electronics
15  The Breville Barista Express Espresso Machine ...  699.95  Home & Kitchen
16  The Keurig K-Elite Coffee Maker features a str...  169.99  Home & Kitchen
17  The iRobot Roomba i7+ Robot Vacuum features au...  799.99  Home & Kitchen
18  The Ninja Foodi Digital Air Fry Oven features ...  209.99  Home & Kitchen
19  The Cuisinart ICE-70 Ice Cream Maker features ...  139.99  Home & Kitchen

                                                image
10  https://www.apple.com/v/airpods-pro/b/images/m...
11  https://assets.bose.com/content/dam/Bose_DAM/W...
12  https://www.fitbit.com/global/content/dam/fitb...
13  https://images.samsung.com/is/image/samsung/as...
14  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15  https://www.breville.com/content/dam/breville/...
16  https://www.keurig.com/content/dam/global-ecom...
17  https://store.irobot.com/default/i7-vacuuming-...
18  https://www.ninjakitchen.com/static/img/produc...
19  https://www.cuisinart.com/share/images/product...

# Info()

It is a method which gives the consise sumary of the dataset
##### What it does:
1. Number of rows adn columns
2. Column name
3. Gives the datatype (int64, float64, object, etc)
4. non-null counts
5. Memory usage of the Dataframe

In [5]:
df = pd.read_json("sample_Data.json")

In [6]:
print("Displaying the info of the Data set")
print("\n", df.info())

Displaying the info of the Data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

 None

# Describe()

Describe method in pandas is a very powerfull tool which provides the Sumary of Discriptive Statistics for Numerical Columns in the Dataframe.

In [7]:
data = {
    "Name" : ['Shivam' , 'Ram', 'Shyam' , 'Aditi', 'Pari', 'Raj', 'Simran' ,'Neha'] ,
    "Age" : [20,30,35,55,23,19,37,64] ,
    "Salary": [50000,60000,70000,80000,90000,20000,50000,300000],
    "Performance Score":[85,90,78,92,88,95,80,89]
}
df = pd.DataFrame(data)
print("Data Frame: \n")
print(df)

Data Frame:

     Name  Age  Salary  Performance Score
0  Shivam   20   50000                 85
1     Ram   30   60000                 90
2   Shyam   35   70000                 78
3   Aditi   55   80000                 92
4    Pari   23   90000                 88
5     Raj   19   20000                 95
6  Simran   37   50000                 80
7    Neha   64  300000                 89

In [8]:
print("discriptive Statistics")
print(df.describe())

discriptive Statistics
             Age         Salary  Performance Score
count   8.000000       8.000000           8.000000
mean   35.375000   90000.000000          87.125000
std    16.448513   87505.101892           5.817154
min    19.000000   20000.000000          78.000000
25%    22.250000   50000.000000          83.750000
50%    32.500000   65000.000000          88.500000
75%    41.500000   82500.000000          90.500000
max    64.000000  300000.000000          95.000000

### Explanation of Each Column (Statistic)
| Column    | Meaning                        | Description                                        |
| --------- | ------------------------------ | -------------------------------------------------- |
| **count** | Count                          | Number of non-null (non-NaN) entries in the column |
| **mean**  | Mean                           | The arithmetic average value of the column         |
| **std**   | Standard Deviation             | Measures how much the data varies from the mean    |
| **min**   | Minimum                        | The smallest value in the column                   |
| **25%**   | 25th Percentile (Q1)           | 25% of data lies below this value                  |
| **50%**   | 50th Percentile (Median or Q2) | Half of the data lies below this value             |
| **75%**   | 75th Percentile (Q3)           | 75% of data lies below this value                  |
| **max**   | Maximum                        | The largest value in the column                    |