# Selecting Columns and filtering rows

In [1]:
import pandas as pd

In [2]:
data = {
    "Name" : ['Shivam' , 'Ram', 'Shyam' , 'Aditi', 'Pari', 'Raj', 'Simran' ,'Neha'] ,
    "Age" : [20,30,35,55,23,19,37,64] ,
    "Salary": [50000,60000,70000,80000,90000,20000,50000,300000],
    "Performance Score":[85,90,78,92,88,95,80,89]
}
df = pd.DataFrame(data)
print(" Sample Data Frame: \n")
print(df)

 Sample Data Frame:

     Name  Age  Salary  Performance Score
0  Shivam   20   50000                 85
1     Ram   30   60000                 90
2   Shyam   35   70000                 78
3   Aditi   55   80000                 92
4    Pari   23   90000                 88
5     Raj   19   20000                 95
6  Simran   37   50000                 80
7    Neha   64  300000                 89

# Selecting Column

### Selecting single column

In [3]:
print("Names (Single column return series)")
name = df['Name']
print(name)

Names (Single column return series)
0    Shivam
1       Ram
2     Shyam
3     Aditi
4      Pari
5       Raj
6    Simran
7      Neha
Name: Name, dtype: object

### Selecting multiple columns

In [4]:
subset = df[['Name' , 'Salary']]
print("\n Subset with name and salary")
print("\n",subset)

 Subset with name and salary

      Name  Salary
0  Shivam   50000
1     Ram   60000
2   Shyam   70000
3   Aditi   80000
4    Pari   90000
5     Raj   20000
6  Simran   50000
7    Neha  300000

# Filtering Rows

#### Filtering rows through single condition:

In [5]:
high_salary = df[df['Salary'] > 60000]
print("Employee with Salary greater than 60,000: \n")
print(high_salary)

Employee with Salary greater than 60,000:

    Name  Age  Salary  Performance Score
2  Shyam   35   70000                 78
3  Aditi   55   80000                 92
4   Pari   23   90000                 88
7   Neha   64  300000                 89

#### filtering rows through multiple conditions:

Using & (AND) Condition

In [6]:
filtered = df[(df['Age'] > 30) & (df['Salary'] > 60000)]
print("Employee with Salary greater than 60,000 and age above 30: \n")
print(filtered)

Employee with Salary greater than 60,000 and age above 30:

    Name  Age  Salary  Performance Score
2  Shyam   35   70000                 78
3  Aditi   55   80000                 92
7   Neha   64  300000                 89

Using OR condition

In [7]:
filtered_or = df[(df['Age'] > 30) | (df['Performance Score'] > 90)]
print(filtered_or)

     Name  Age  Salary  Performance Score
2   Shyam   35   70000                 78
3   Aditi   55   80000                 92
5     Raj   19   20000                 95
6  Simran   37   50000                 80
7    Neha   64  300000                 89