# Data Modification

In [37]:
import pandas as pd

In [38]:
data = {
    "Name" : ['Shivam' , 'Ram', 'Shyam' , 'Aditi', 'Pari', 'Raj', 'Simran' ,'Neha'] ,
    "Age" : [20,30,35,55,23,19,37,64] ,
    "Salary": [50000,60000,70000,80000,90000,20000,50000,300000],
    "Performance Score":[85,90,78,92,88,95,80,89]
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Salary  Performance Score
0  Shivam   20   50000                 85
1     Ram   30   60000                 90
2   Shyam   35   70000                 78
3   Aditi   55   80000                 92
4    Pari   23   90000                 88
5     Raj   19   20000                 95
6  Simran   37   50000                 80
7    Neha   64  300000                 89

## Adding

1. Adding column via assignment

In [39]:
# Adding a new column "Bonus" which contains the 10% of the salary of each employees.
df["Bonus"] = df['Salary'] * 0.1
print(df)

     Name  Age  Salary  Performance Score    Bonus
0  Shivam   20   50000                 85   5000.0
1     Ram   30   60000                 90   6000.0
2   Shyam   35   70000                 78   7000.0
3   Aditi   55   80000                 92   8000.0
4    Pari   23   90000                 88   9000.0
5     Raj   19   20000                 95   2000.0
6  Simran   37   50000                 80   5000.0
7    Neha   64  300000                 89  30000.0

2. Adding column via insert() method

In [40]:
df.drop('ID', axis = 1 , inplace = True)

KeyError: "['ID'] not found in axis"

In [ ]:
df.insert(0,"ID", [10,20,30,40,50,60,70,80])

In [ ]:
print(df)

   ID    Name  Age  Salary  Performance Score    Bonus
0  10  Shivam   20   50000                 85   5000.0
1  20     Ram   30   60000                 90   6000.0
2  30   Shyam   35   70000                 78   7000.0
3  40   Aditi   55   80000                 92   8000.0
4  50    Pari   23   90000                 88   9000.0
5  60     Raj   19   20000                 95   2000.0
6  70  Simran   37   50000                 80   5000.0
7  80    Neha   64  300000                 89  30000.0

## Updating

In [ ]:
df.loc[0, 'Salary'] = 100000
print(df)

     Name  Age  Salary  Performance Score    Bonus
0  Shivam   20  100000                 85   5000.0
1     Ram   30   60000                 90   6000.0
2   Shyam   35   70000                 78   7000.0
3   Aditi   55   80000                 92   8000.0
4    Pari   23   90000                 88   9000.0
5     Raj   19   20000                 95   2000.0
6  Simran   37   50000                 80   5000.0
7    Neha   64  300000                 89  30000.0